.body {
background-color: #171717;
margin-left: auto;
margin-right: auto;
width: 100%;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
width: 1460px;
text-align: center;
margin: 37px auto 0px auto;
}

.button {
display: flex;
text-decoration: none;
align-items:  center;
border: 1px solid #E4B564;
gap: 8px;
background-color: #171717;
color: #E4B564;
font-family: Ballet;
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding: 10px 11px 10px 25px;
}

.h2 {
color: #FFF;
font-family: Gilam;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 28px; 
text-align: left;
margin: 0;
}

.section-one-paragraf {
color: #FFF;
font-family: Gilam;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
text-align: left;
width: 1182px;
margin-top: 43px;
}

.section-one {
margin: 89px auto 0 auto;
width: 1460px;
}

.table {
display: grid;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 27px;
grid-row: 220px;
grid-column: 100px;
margin-top: 41px;

}
.item1 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;
background: #634F2C;
justify-content: center;
align-items: center;
display: flex;
}

.grid-text { 
color: #FFF;
text-align: center;
font-family: Gilam;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; 
align-items: center;

}
.item2 {
grid-column-start: 3;
grid-column-end: 5;
grid-row-start: 1;
grid-row-end: 2;
background: #B4A385;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
}

.item3 {
grid-column-start: 5;
grid-column-end: 7;
grid-row-start: 1;
grid-row-end: 2;
background: #E4B564;
justify-content: center;
align-items: center;
display: flex;
}

.item4 {
grid-column-start: -7;
grid-column-end: -4;
grid-row-start: 2;
grid-row-end: 3;
height: 468px;
background: #635A4A;
justify-content: center;
align-items: center;
display: flex;
}
.item5 {
grid-column-start: -4;
grid-column-end: -1;
grid-row-start: 2;
grid-row-end: 3;
background: #B08C4D;
justify-content: center;
align-items: center;
display: flex;
}

.section-two {
margin: 161px auto 0 auto;
width: 1460px;
}

.button-section-three {
flex-shrink: 0;
border: 1px solid #E4B564;
text-decoration: none;
color: #E4B564;
padding: 10px 39px 10px 40px;
text-align: center;
font-family: Ballet;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.section-three-header {
display: flex;
justify-content: space-between;
align-items: center;
width: 1460px;
margin: 0 auto 0 auto;
text-align: center;
}

.item1-section-three {
background-color: #634F2C;
width: 487px;
height: 391px;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 2;
justify-content: center;
align-items: center;
display: flex;
}

.item2-section-three {
background-color: #E8D2ABC2;
width: 487px;
height: 391px;
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
gap: 12px;
padding-left: 80px;
padding-right: 80px;
box-sizing: border-box;
}

.item3-section-three {
background-color: #E4B564;
width: 487px;
height: 391px;
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2;
justify-content: center;
align-items: center;
display: flex;
}

.item4-section-three {
background-color: #635A4A;
width: 487px;
height: 391px;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 2;
grid-row-end: 3;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
}

.item5-section-three {
background-color: #B08C4D;
width: 487px;
height: 391px;
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 3;
justify-content: center;
align-items: center;
display: flex;
}

.item6-section-three {
background-color: #634F2C;
width: 487px;
height: 391px;
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 3;
justify-content: center;
align-items: center;
display: flex;
}

.section-three-table {
display: grid;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 0;
margin-top: 61px;
width: 1460px;
margin: 61px auto 0 auto;
}

.section-three {

width: auto;
margin-top: 191px;
margin-bottom: 238px;
padding-top: 161px;
padding-bottom: 0;
background-color: #0e0e0e;
}

.grid-text-section-three {
margin: 0;
color: #FFF;
text-align: center;
font-family: Gilam;
font-size: 22px;
font-weight: 500;
line-height: 28px;

}
.list2 {
display: grid;
column-gap: 30px;
row-gap: 29px;
grid-template-rows:repeat(10, 70px);
grid-template-columns: 1fr 1fr 1fr ;
margin-top: 94px;
margin-left: -40px;
}

.list2-item-1 {
grid-row: 1/5;
background-color: #0E0E0E;
color: #FFF;
font-family: Gilam;
font-size: 20px;
font-style: normal;
font-weight: 700;
list-style-type: none;
padding: 44px 113px 219px 52px;

}
.list2-item-2 {
grid-row: 1/6;
background-color: #242424;
color: #FFF;
font-family: Gilam;
font-size: 20px;
font-style: normal;
font-weight: 700;
list-style-type: none;
padding: 44px 114px 345px 51px;

}
.list2-item-3 {
grid-row: 1/4;
background-color: #1F1F1F;
color: #FFF;
font-family: Gilam;
font-size: 20px;
font-style: normal;
font-weight: 500;
list-style-type: none;
padding: 44px 117px 186px 48px;

}
.list2-item-4 {
grid-row: 5/11;
background-color: #1F1F1F;
color: #FFF;
font-family: Gilam;
font-size: 20px;
font-style: normal;
font-weight: 500;
list-style-type: none;
padding: 56px 113px 479px 52px; 

}
.list2-item-5 {
grid-row: 6/11;
margin-bottom: 20px;
background-color: #E4B564;
color: #000;
font-family: Gilam;
font-size: 20px;
font-style: normal;
font-weight: 500;
list-style-type: none;
padding: 47px 113px 333px 52px;
}

.list2-item-6 {
grid-row: 4/8;
background-color: #0E0E0E;
color: #FFF;
font-family: Gilam;
font-size: 20px;
font-style: normal;
font-weight: 500;
list-style-type: none;
padding: 44px 117px 244px 48px;
}

.list2-item-7 {
grid-row: 8/11;
background-color: #0A0909;
color: #FFF;
font-family: Gilam;
font-size: 20px;
font-style: normal;
font-weight: 700;
list-style-type: none;
padding: 44px 117px 208px 48px;
}